.footer {
  position: fixed; /* Cambia a 'fixed' en lugar de 'absolute' para que siempre esté en la parte inferior */
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white; /* Cambia el color del texto a blanco */
  text-align: center;
  font-style: italic;
}

.header {
  width: 100%;
}

.navbar-brand {
  text-align: center;
  font-size: 24px; /* Cambia 'size' a 'font-size' */
}
